body {
    background-color: #e9f5f9;
}

h1 {
    text-align: center;
    color: #484856;
    background-color: transparent;
}

.blue {
    background-color: #5cc8f7;
}
.pink {
    background-color: #d0a1aa;
}
.white {
    background-color: white;
}

.box {
    width: 800px;
    height: 200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;

}

.flex1 {
    justify-content: space-between;
}
.flex2 {   
    justify-content: space-evenly;
}

img {
    height: 200px;
    margin: 20px;
}
p {
    text-align: center;
}